@page "/registration/UO"

@using System.ComponentModel.DataAnnotations

<h3 class="p-4 d-flex justify-content-center">Registracija ugostiteljskog objekta</h3>


<EditForm Model="NoviUO" OnValidSubmit="DodajNoviUO">
<DataAnnotationsValidator/>
<MudGrid>
    <MudItem xs="15" sm="12" Class="pa-4 d-flex justify-content-center">
        <MudCard Class="w-50">
            <MudCardContent>
                <MudTextField Label="Naziv:" 
                              @bind-Value="NoviUO.UgostiteljskiObjektiNaziv" For="@(() => NoviUO.UgostiteljskiObjektiNaziv)"/>
                <MudTextField Label="Broj telefona:" Class="mt-3"
                              @bind-Value="NoviUO.UgostiteljskiObjektiKontakt" Mask="@(new PatternMask("000 000 000"))" For="@(() => NoviUO.UgostiteljskiObjektiKontakt)"/>
                <MudTextField Label="Email:" Class="mt-3"
                              @bind-Value="NoviUO.UgostiteljskiObjektiEmali" For="@(() => NoviUO.UgostiteljskiObjektiEmali)" />
                <MudTextField Label="Lozinka:" Class="mt-3"
                              @bind-Value="NoviUO.UgostiteljskiObjektiLozinka" For="@(() => NoviUO.UgostiteljskiObjektiLozinka)" InputType="InputType.Password"/>
                <MudTextField Label="Lozinka:" HelperText="Ponovite lozinku" Class="mt-3"
                              @bind-Value="NoviUO.UgostiteljskiObjektiConfirmPassword" For="@(() => NoviUO.UgostiteljskiObjektiConfirmPassword)" InputType="InputType.Password"/>
            </MudCardContent>
            <MudCardActions>
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Registriraj se</MudButton>
            </MudCardActions>
        </MudCard>
    </MudItem>
</MudGrid>
</EditForm>

