@using WebAplikacijaZaUgostiteljskeObjekte.Shared
@inject HttpClient Http
@inject NavigationManager navigationManager
@inject ISnackbar snackbar


<EditForm Model="UOBrojtelefona" OnValidSubmit="EditDeveloper">
    <MudDialog>
        <DialogContent>
            <div class="d-flex flex-column py-1">
                <MudText>Unesite broj telefona</MudText>
                <MudTextField Label="Broj telefona:" 
                             Mask="@(new PatternMask("000 000 000"))" @bind-Value="UOBrojtelefona.UgostiteljskiObjektiKontakt" For="@(() => UOBrojtelefona.UgostiteljskiObjektiKontakt)"/>
                <MudText Class="mt-2">Unesite radno vrijeme (pon-pet)</MudText>
                <MudTextField Mask="@(new PatternMask("00:00 - 00:00"))" Placeholder="Unesite radno vrijeme primjer: 07:00 - 23:00" @bind-Value="UOBrojtelefona.UgostiteljskiObjektiRadnoVrijeme" For="@(() => UOBrojtelefona.UgostiteljskiObjektiRadnoVrijeme)"></MudTextField>
                <MudText Class="mt-2">Unesite radno vrijeme (sub)</MudText>
                <MudTextField Mask="@(new PatternMask("00:00 - 00:00"))" Placeholder="Unesite radno vrijeme primjer: 07:00 - 23:00" @bind-Value="UOBrojtelefona.UgostiteljskiObjektiRadnoVrijemeSub" For="@(() => UOBrojtelefona.UgostiteljskiObjektiRadnoVrijemeSub)"></MudTextField>
                <MudText Class="mt-2">Unesite radno vrijeme (ned)</MudText>
                <MudTextField Mask="@(new PatternMask("00:00 - 00:00"))" Placeholder="Unesite radno vrijeme primjer: 07:00 - 23:00" @bind-Value="UOBrojtelefona.UgostiteljskiObjektiRadnoVrijemeNed" For="@(() => UOBrojtelefona.UgostiteljskiObjektiRadnoVrijemeNed)"></MudTextField>
                <MudText Class="mt-2">Unesite radno vrijeme (praznici)</MudText>
                <MudTextField Mask="@(new PatternMask("00:00 - 00:00"))" Placeholder="Unesite radno vrijeme primjer: 07:00 - 23:00" @bind-Value="UOBrojtelefona.UgostiteljskiObjektiRadnoVrijemePraznici" For="@(() => UOBrojtelefona.UgostiteljskiObjektiRadnoVrijemePraznici)"></MudTextField>
            </div>
        </DialogContent>
        <DialogActions>
            <MudButton OnClick="Close">Odustani</MudButton>
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Uredi</MudButton>
        </DialogActions>
    </MudDialog>
</EditForm>
@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    [Parameter] public string Brojtelefona { get; set; }

    [Parameter] public string UOId { get; set; }

    public UgostiteljskiObjektiModel UOBrojtelefona { get; set; } = new();


    protected async override Task OnParametersSetAsync()
    {
        UOBrojtelefona = await Http.GetFromJsonAsync<UgostiteljskiObjektiModel>($"api/UgostiteljskiObjekti/{UOId}");
    }

    void Close() => MudDialog.Close(DialogResult.Ok(true));

    // uređivanje broja
    async Task EditDeveloper()
    {
        await Http.PutAsJsonAsync("api/UgostiteljskiObjekti", UOBrojtelefona);
        navigationManager.NavigateTo("/ugostiteljskiobjekti/" + UOId, true);
        snackbar.Configuration.PositionClass = Defaults.Classes.Position.TopCenter;
        snackbar.Add("Uspješno ste uredili kontakt!");
    }


}