@inherits UgostiteljskiObjektiDetailsBase

@page "/ugostiteljskiobjekti/{id}"
@using System.Text.RegularExpressions

<MudPaper Class="d-flex justify-center flex-grow-1 gap-4 pa-md-6 mx-lg-auto" Elevation="0">
<MudText Typo="Typo.h3">@ugostiteljskiObjekt.UgostiteljskiObjektiNaziv</MudText>
</MudPaper>

<MudImage Fluid="true" ObjectFit="ObjectFit.Cover" Src="@ugostiteljskiObjekt.UgostiteljskiObjektiSlika" Class="pa-4 d-flex m-auto rounded-lg"/>


<MudMainContent>
    <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge">
        <MudGrid Class="mud-dark">
            <MudItem xs="12" sm="7">
                <MudPaper Class="pa-4">
                    <MudText Typo="Typo.h6"><b>Jelovnik:</b></MudText><br><br>
                        <MudTabs Elevation="4" Rounded="true" Centered="true" Color="@Color.Primary">
                                <MudTabPanel Text="Jela">
                                    <MudPaper Class="pa-4">
                                        @if(@values.Count() != 0)
                                        {

                                            <MudText Typo="Typo.h6"><b>Jela:</b></MudText><br><br>
                                                <MudTable RowsPerPage="10" Items="@values" Hover="true" Breakpoint="Breakpoint.Sm" LoadingProgressColor="Color.Info">
                                                    <HeaderContent>
                                                        <MudTh>Naziv jela</MudTh>
                                                        <MudTh>Opis</MudTh>
                                                        <MudTh>Cjena</MudTh>
                                                        @if(ugostiteljskiObjektEmail.UgostiteljskiObjektiEmali == ugostiteljskiObjekt.UgostiteljskiObjektiEmali || Admin != null)
                                                        {
                                                            <AuthorizeView Context="another_name">
                                                            <MudTh>Uredi</MudTh>
                                                            <MudTh>Obriši</MudTh>
                                                            </AuthorizeView>
                                                        }

                                                    </HeaderContent>
                                                    <RowTemplate>
                                                        <MudTd DataLabel="Naziv jela">@context.NazivJela</MudTd>
                                                        <MudTd DataLabel="Opis">@context.Opis</MudTd>
                                                        <MudTd DataLabel="Cjena">@Convert.ToSingle(context.Cjena) kn</MudTd>
                                                        @if (ugostiteljskiObjektEmail.UgostiteljskiObjektiEmali == ugostiteljskiObjekt.UgostiteljskiObjektiEmali || Admin != null)
                                                        {
                                                            <AuthorizeView Context="contex_name">
                                                            <link href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" rel="stylesheet">
                                                            <MudTd DataLabel="Uredi"><MudButton @onclick="() => UrediJelo(context)" Variant="Variant.Filled" Color="Color.Primary"><MudIcon Icon="@Icons.Filled.Edit" /></MudButton></MudTd>
                                                            <MudTd DataLabel="Obriši"><MudButton @onclick="() => ObrisiJelo(context)" Variant="Variant.Filled" Color="Color.Error"><MudIcon Icon="fas fa-trash" /></MudButton></MudTd>
                                                            </AuthorizeView>
                                                        }
                                                    </RowTemplate>
                                                    <PagerContent>
                                                        <MudTablePager PageSizeOptions="new int[] { 5, 10, 20, 30, 50 }" />
                                                    </PagerContent>
                                                </MudTable>
                                        }
                                        else
                                        {
                                            <MudText Typo="Typo.h6" Class="pa-4 mt-2 d-flex justify-center mt-5"><b>Ugostiteljski objekt nema ponudu jela!</b></MudText>
                                        }
                                        <AuthorizeView>
                                        @if(ugostiteljskiObjektEmail.UgostiteljskiObjektiEmali == ugostiteljskiObjekt.UgostiteljskiObjektiEmali || Admin != null)
                                        {
                                            <MudButton Class="d-block ml-auto mt-5" OnClick="OpenDialogDish" Variant="Variant.Filled" Color="Color.Primary">
                                                Dodaj jelo
                                            </MudButton>
                                        }
                                        </AuthorizeView>
                                    </MudPaper>
                                </MudTabPanel>
                                 <MudTabPanel Text="Pića">
                                     <MudPaper Class="pa-4">
                                    @if(@drinksValues.Count() != 0)
                                    {
                                        <MudText Typo="Typo.h6"><b>Pića:</b></MudText><br><br>
                                            <MudTable RowsPerPage="10" Items="@drinksValues" Hover="true" Breakpoint="Breakpoint.Sm" LoadingProgressColor="Color.Info">
                                                <HeaderContent>
                                                    <MudTh>Naziv pića</MudTh>
                                                    <MudTh>Opis</MudTh>
                                                    <MudTh>Normativ</MudTh>
                                                    <MudTh>Cjena</MudTh>
                                                    @if(ugostiteljskiObjektEmail.UgostiteljskiObjektiEmali == ugostiteljskiObjekt.UgostiteljskiObjektiEmali || Admin != null)
                                                    {
                                                        <AuthorizeView Context="contexxt_anothername">
                                                        <MudTh>Uredi</MudTh>
                                                        <MudTh>Obriši</MudTh>
                                                        </AuthorizeView>
                                                    }

                                                </HeaderContent>
                                                <RowTemplate>
                                                    <MudTd DataLabel="Naziv pića">@context.NazivPica</MudTd>
                                                    <MudTd DataLabel="Opis">@context.Opis.ToUpper()</MudTd>
                                                    <MudTd DataLabel="Normativ">@context.PiceNormativ l</MudTd>
                                                    <MudTd DataLabel="Cjena">@Convert.ToSingle(context.Cjena) kn</MudTd>
                                                    @if(ugostiteljskiObjektEmail.UgostiteljskiObjektiEmali == ugostiteljskiObjekt.UgostiteljskiObjektiEmali || Admin != null)
                                                    {
                                                        <AuthorizeView Context="context_name">
                                                        <link href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" rel="stylesheet">
                                                        <MudTd DataLabel="Obriši"><MudButton @onclick="() => UrediPice(context)" Variant="Variant.Filled" Color="Color.Primary"><MudIcon Icon="@Icons.Filled.Edit" /></MudButton></MudTd>
                                                        <MudTd DataLabel="Obriši"><MudButton @onclick="() => ObrisiPice(context)" Variant="Variant.Filled" Color="Color.Error"><MudIcon Icon="fas fa-trash" /></MudButton></MudTd>
                                                        </AuthorizeView>
                                                    }
                                                </RowTemplate>
                                                <PagerContent>
                                                    <MudTablePager PageSizeOptions="new int[] { 5, 10, 20, 30, 50 }" />
                                                </PagerContent>
                                            </MudTable>
                                    }
                                    else
                                    {
                                        <MudText Typo="Typo.h6" Class="pa-4 mt-2 d-flex justify-center mt-5"><b>Ugostiteljski objekt nema ponudu pića!</b></MudText>
                                    }
                                    <AuthorizeView>
                                    @if(ugostiteljskiObjektEmail.UgostiteljskiObjektiEmali == ugostiteljskiObjekt.UgostiteljskiObjektiEmali || Admin != null)
                                    {
                                        <MudButton Class="d-block ml-auto mt-5" OnClick="OpenDialogDrink" Variant="Variant.Filled" Color="Color.Primary">
                                            Dodaj piće
                                        </MudButton>
                                    }
                                    </AuthorizeView>
                                    </MudPaper>
                                </MudTabPanel>

                        </MudTabs>
                </MudPaper>
            </MudItem>
            <MudItem xs="12" sm="5">
                <MudPaper Class="pa-4 mud-height-full">
                    <MudText Class="d-flex justify-content-center align-items-center mt-5" Typo="Typo.h6"><b>Kontakt:</b></MudText><br><br>
                    <MudText Class="d-flex justify-content-center align-items-center" Typo="Typo.h6"><b>@Regex.Replace(ugostiteljskiObjekt.UgostiteljskiObjektiKontakt ?? "111223333", @"(\d{3})(\d{3})(\d{3})", "$1 $2 $3")</b>
                    </MudText>
                    <MudDivider />
                    <MudText Class="d-flex justify-content-center align-items-center mt-5" Typo="Typo.h6"><b>Radno vrijeme (pon-pet):</b></MudText><br><br>
                    <MudText Class="d-flex justify-content-center align-items-center" Typo="Typo.h6"><b>@ugostiteljskiObjekt.UgostiteljskiObjektiRadnoVrijeme h</b>
                    </MudText>

                    <MudText Class="d-flex justify-content-center align-items-center mt-5" Typo="Typo.h6"><b>Radno vrijeme (sub):</b></MudText><br><br>
                    @if(ugostiteljskiObjekt.UgostiteljskiObjektiRadnoVrijemeSub == "0")
                    {
                        <MudText Class="d-flex justify-content-center align-items-center" Typo="Typo.h6"><b>NE RADIMO!</b></MudText>
                    }
                    else
                    {
                        <MudText Class="d-flex justify-content-center align-items-center" Typo="Typo.h6"><b>@ugostiteljskiObjekt.UgostiteljskiObjektiRadnoVrijemeSub h</b>
                        </MudText>
                    }
                    <MudDivider />
                    <MudText Class="d-flex justify-content-center align-items-center mt-5" Typo="Typo.h6"><b>Radno vrijeme (ned):</b></MudText><br><br>
                    @if(ugostiteljskiObjekt.UgostiteljskiObjektiRadnoVrijemeNed == "0")
                    {
                        <MudText Class="d-flex justify-content-center align-items-center" Typo="Typo.h6"><b>NE RADIMO!</b></MudText>
                    }
                    else
                    {
                        <MudText Class="d-flex justify-content-center align-items-center" Typo="Typo.h6"><b>@ugostiteljskiObjekt.UgostiteljskiObjektiRadnoVrijemeNed h</b>
                        </MudText>
                    }
                    <MudDivider />
                    <MudText Class="d-flex justify-content-center align-items-center mt-5" Typo="Typo.h6"><b>Radno vrijeme (praznici):</b></MudText><br><br>
                    @if(ugostiteljskiObjekt.UgostiteljskiObjektiRadnoVrijemePraznici == "0")
                    {
                        <MudText Class="d-flex justify-content-center align-items-center" Typo="Typo.h6"><b>NE RADIMO!</b></MudText>
                    }
                    else
                    {
                        <MudText Class="d-flex justify-content-center align-items-center" Typo="Typo.h6"><b>@ugostiteljskiObjekt.UgostiteljskiObjektiRadnoVrijemePraznici h</b>
                        </MudText>
                    }
                    <MudDivider Light="false" />
                    <AuthorizeView>
                        @if(ugostiteljskiObjektEmail.UgostiteljskiObjektiEmali == ugostiteljskiObjekt.UgostiteljskiObjektiEmali || Admin != null)
                        {
                            <MudButton Class="d-block ml-auto mr-auto mt-5" OnClick="OpenDialog" Variant="Variant.Filled" Color="Color.Primary">
                            <MudIcon Icon="@Icons.Filled.Edit"></MudIcon> Uredi
                            </MudButton>    
                        }
                    </AuthorizeView>
                </MudPaper>
            </MudItem>
        </MudGrid>
        <MudGrid Class="mud-dark">
            <MudItem xs="12" sm="7">
                <MudPaper Class="pa-4 mud-height-full">
                    <MudText Typo="Typo.h6" ><b>Komentari:</b></MudText>
                        @foreach(var korisnik in Korisnici)
                        {
                            foreach(var komentar in Komentari)
                            {
                                if(komentar.UgostiteljskiObjektId == ugostiteljskiObjekt.UgostiteljskiObjektiId && komentar.UserId == korisnik.UserId)
                                {
                                    <link href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" rel="stylesheet">
                                    <MudPaper Class="pa-4 d-flex justify-space-between" Outlined="true">@korisnik.Name @korisnik.LastName: <br /> @komentar.CommentText
                                    @if(Korisnik != null)
                                    {
                                        @if(komentar.UserId == Korisnik.UserId)
                                        {
                                            <AuthorizeView>
                                            <MudButton @onclick="() => DeleteComment(komentar)" Variant="Variant.Filled" Color="Color.Error"><MudIcon Icon="fas fa-trash" /></MudButton>
                                            </AuthorizeView>
                                        }

                                    }
                                    else if(Admin != null)
                                    {
                                            <AuthorizeView>
                                            <MudButton @onclick="() => DeleteComment(komentar)" Variant="Variant.Filled" Color="Color.Error"><MudIcon Icon="fas fa-trash" /></MudButton>
                                            </AuthorizeView>
                                    }
                                    </MudPaper>
                                        
                                }
                            }
                        }
                        <AuthorizeView>
                            @if(Korisnik != null)
                            {
                                <MudTextField @bind-Value="Comment.CommentText" Label="Unesite komentar..." Variant="Variant.Outlined"></MudTextField>
                                <MudButton Class="d-block ml-auto mt-5" Variant="Variant.Filled" Color="Color.Primary" OnClick="DodajKomentar">Dodaj komentar</MudButton>
                            }
                        </AuthorizeView>
                </MudPaper>
            </MudItem>
            <MudItem xs="12" sm="5">
                <MudPaper Class="pa-4 mud-height-full">
                    @if(ugostiteljskiObjektEmail.UgostiteljskiObjektiEmali == ugostiteljskiObjekt.UgostiteljskiObjektiEmali || Admin != null)
                    {
                        <MudText Typo="Typo.h6"><b>Ocjene:</b></MudText><br><br>
                    }
                    else
                    {
                        <MudText Typo="Typo.h6"><b>Ocijenite nas:</b></MudText><br><br>   
                    }
                        <MudForm>
                        <AuthorizeView>
                        @if(OcjenaKorisnika == null && UOProvjera == 0)
                        {
                            <MudRadioGroup Class="d-flex justify-content-center" @bind-SelectedOption="@SelectedOption">
                            <MudRadio Option="@("1")" Color="Color.Primary" Placement="Placement.Bottom">1</MudRadio>
                            <MudRadio Option="@("2")" Color="Color.Primary" Placement="Placement.Bottom">2</MudRadio>
                            <MudRadio Option="@("3")" Color="Color.Primary" Placement="Placement.Bottom">3</MudRadio>
                            <MudRadio Option="@("4")" Color="Color.Primary" Placement="Placement.Bottom">4</MudRadio>
                            <MudRadio Option="@("5")" Color="Color.Primary" Placement="Placement.Bottom">5</MudRadio>
                            </MudRadioGroup>
                            <MudButton Class="d-flex ml-auto mr-auto mt-10" Variant="Variant.Filled" Color="Color.Primary" OnClick="DodajOcjenu">Ocjeni</MudButton>  
                        }
                        else
                        {
                            @if(OcjenaKorisnika != null)
                            {
                                SelectedOption = OcjenaKorisnika.Ocjena.ToString();
                            }
                            else
                            {
                                SelectedOption = null;
                            }
                            <MudRadioGroup  Class="d-flex justify-content-center" @bind-SelectedOption="@SelectedOption">
                            <MudRadio Option="@("1")" Color="Color.Primary" Placement="Placement.Bottom" Disabled="true">1</MudRadio>
                            <MudRadio Option="@("2")" Color="Color.Primary" Placement="Placement.Bottom" Disabled="true">2</MudRadio>
                            <MudRadio Option="@("3")" Color="Color.Primary" Placement="Placement.Bottom" Disabled="true">3</MudRadio>
                            <MudRadio Option="@("4")" Color="Color.Primary" Placement="Placement.Bottom" Disabled="true">4</MudRadio>
                            <MudRadio Option="@("5")" Color="Color.Primary" Placement="Placement.Bottom" Disabled="true">5</MudRadio>
                            </MudRadioGroup>
                            @if(OcjenaKorisnika != null)
                            {
                                <div class="d-flex align-center">
                                    <MudButton Class="d-flex ml-auto mr-auto mt-10" Variant="Variant.Filled" Color="Color.Primary" OnClick="() => ObrisiOcjenu(OcjenaKorisnika)">Ponovno ocijeni</MudButton>
                                </div> 
                            }
                           

                        }
                        </AuthorizeView>
                        <AuthorizeView>
                            <NotAuthorized>
                                <MudText Typo="Typo.h6"><b>Morate imati korisnički račun da biste dali ocjenu.</b></MudText>
                            </NotAuthorized>
                        </AuthorizeView>
                        </MudForm>
                        <MudText Typo="Typo.h6" Class="pa-4 mt-5 d-flex justify-content-center">Prosječna ocjena:@Math.Round(ugostiteljskiObjekt.UgostiteljskiObjektiProsjecnaOcjena,2)</MudText>
                </MudPaper>
            </MudItem>
        </MudGrid>
    </MudContainer>
</MudMainContent>



